@using System.Text.Json
@using System.Text.Json.Nodes
@using Microsoft.AspNetCore.Identity

<div class="leftDiv">
    <div class="topbar">
        <h1>Desks</h1>
        <p>Refresh count: @currentCount</p>
        <button class="btn btn-primary blue" @onclick="GetData"><img src="\refresh.svg" alt="Refresh"/></button>
    </div>
    <div class="tableDiv">
    <table>
        <thead class="backgrounded">
            <tr>
                <th class="id">Id</th>
                <th class="name">Name</th>
                <th class="status">Status</th>
                <th class="errors">Errors</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var i in @deskData)
            {
                var id = i.Key;
                var value = i.Value;

                string? name = null;
                string? status = "disconnected";
                int? errorCount = null;

                if (value is not null)
                {
                    name = (value["config"]?["name"]??"").ToString();
                    status = (value["state"]?["status"]??"").ToString().ToLower();
                    errorCount = value["lastErrors"]?.AsArray().Count();
                }

                <tr class=@status @onclick="()=>SelectDesk(id)">
                    <td class="id">@id</td>
                    <td class="name">@name</td>
                    <td class="status">@status</td>
                    <td class="errors">@errorCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>
<div class="rightDiv">
    @* name, manufacturer, history, graphs, scheduling, reminders, warnings, save-sitting, save-standing, t-height *@
    @if (selectedDeskId is null || !deskData.ContainsKey(selectedDeskId)){
        <h2>Select a desk to see details</h2>
    }
    else
    {
        var SelectedDesk = deskData[selectedDeskId];

        <h2>Name: @(SelectedDesk["config"]?["name"]?? "N/A")</h2>
        <h3>Manufacturer: @(SelectedDesk["config"]?["manufacturer"]?? "N/A")</h3>
        <hr>
        <div>Position: @(SelectedDesk["state"]?["position_mm"])<br>
            position lost: @(SelectedDesk["state"]?["isPositionLost"]?? "N/A")<br>
            Overload Protection up:@(SelectedDesk["state"]?["isOverloadProtectionUp"] ?? "N/A")<br>
            Overload Protection down:@(SelectedDesk["state"]?["isOverloadProtectionDown"] ?? "N/A")<br>
            Speed: @(SelectedDesk["state"]?["speed_mms"]?? "N/A")<br>
            Status: @(SelectedDesk["state"]?["status"] ?? "N/A")<br>
            Anti Collision On:@(SelectedDesk["state"]?["isAntiCollision"] ?? "N/A")<br>
        </div> @*<input type="number">*@
        <hr>
        <div>Activations: @(SelectedDesk["usage"]?["activationsCounter"]??"N/A") <br>
            Slavic Squat Counter:@(SelectedDesk["usage"]?["sitStandCounter"] ?? "N/A") <br>
        </div>
        <div>Error number: @(SelectedDesk["lastErrors"].AsArray().Count())</div> 
        <div>history</div>
        <div>graph</div>
        <div>warnings/reminders</div>
        <div>scheduling</div> @*<input type="time">*@
        <div> @*<ul>*@
            <button>Save Sitting Height</button>
            <button>Save Standing Height</button>
            <button>Set Table Height</button>
        </div>
    }
</div>

@code {
    private int currentCount = 0; // Refresh count
    private string[] deskIds = [];
    private Dictionary<string, JsonNode> deskData = new();
    private HttpClient client = new();
    private CancellationTokenSource? _cts;
    private Task? _refreshTask;
    private System.Threading.Timer timer;
    private string? selectedDeskId;

    private async Task GetData()
    {

        client.BaseAddress = new Uri("http://simulator:6000");
        var response = await client.GetAsync("/api/v2/F7H1vM3kQ5rW8zT9xG2pJ6nY4dL0aZ3K/desks");
        // deskIds = await response.Content.ReadAsStringAsync() ?? "No content";
        var content = await response.Content.ReadAsStreamAsync();
        deskIds = await JsonSerializer.DeserializeAsync<string[]>(content) ?? [];
        foreach (string desk in deskIds)
        {
            await GetDesk(desk);
        }
        await InvokeAsync(StateHasChanged);

        // client.Dispose();
    }

    private async Task GetDesk(string desk)
    {
        var response = await client.GetAsync($"/api/v2/F7H1vM3kQ5rW8zT9xG2pJ6nY4dL0aZ3K/desks/{desk}");
        var content = await response.Content.ReadAsStreamAsync();
        deskData[desk] = await JsonNode.ParseAsync(content);
    }
    private void SelectDesk(string deskId)
    {
        selectedDeskId = deskId;
    }
}